<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="bp001_description">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="7.75919318807567E-19 0.0409942367796753 -3.55522513016651E-06"
        rpy="0 0 0" />
      <mass
        value="2.25389477631104" />
      <inertia
        ixx="0.00466922459360897"
        ixy="1.20415183424488E-19"
        ixz="3.12268591715857E-19"
        iyy="0.0133992461285469"
        iyz="2.40439281764469E-07"
        izz="0.0118661025979557" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://bp001_description/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://bp001_description/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link_lw">
    <inertial>
      <origin
        xyz="0.0173372551398928 5.759281940243E-16 -2.96686112332856E-16"
        rpy="0 0 0" />
      <mass
        value="0.234199193964837" />
      <inertia
        ixx="0.00104446027104137"
        ixy="-1.91049732501677E-18"
        ixz="9.88807712839178E-19"
        iyy="0.000548765971685728"
        iyz="2.99522099805411E-19"
        izz="0.000548765971685726" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://bp001_description/meshes/link_lw.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://bp001_description/meshes/link_lw.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_lw"
    type="continuous">
    <origin
      xyz="0.1146 0.052 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="link_lw" />
    <axis
      xyz="1 0 0" />
  </joint>
  <link
    name="link_rw">
    <inertial>
      <origin
        xyz="-0.0173372551398928 5.759281940243E-16 3.12622061363609E-16"
        rpy="0 0 0" />
      <mass
        value="0.234199193964837" />
      <inertia
        ixx="0.00104446027104137"
        ixy="1.9057238767979E-18"
        ixz="9.79559510477831E-19"
        iyy="0.000548765971685728"
        iyz="-2.15782470493603E-19"
        izz="0.000548765971685725" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://bp001_description/meshes/link_rw.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://bp001_description/meshes/link_rw.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_rw"
    type="continuous">
    <origin
      xyz="-0.1146 0.052 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="link_rw" />
    <axis
      xyz="1 0 0" />
  </joint>
</robot>