<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="leader_3215_description">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.00159521171763351 2.29923966853244E-18 0.0052310891421384"
        rpy="0 0 0" />
      <mass
        value="0.167902477796077" />
      <inertia
        ixx="9.76163689204882E-05"
        ixy="3.03295833065713E-21"
        ixz="-7.99280838274572E-08"
        iyy="0.000115012939261665"
        iyz="9.457462825435E-21"
        izz="0.000192246000897648" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://leader_3215_description/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://leader_3215_description/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link1">
    <inertial>
      <origin
        xyz="2.3916E-17 3.7482E-18 0.039565"
        rpy="0 0 0" />
      <mass
        value="0.082279" />
      <inertia
        ixx="4.4995E-05"
        ixy="-8.06E-22"
        ixz="-3.2611E-21"
        iyy="5.1095E-05"
        iyz="-4.7177E-21"
        izz="1.5705E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://leader_3215_description/meshes/link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://leader_3215_description/meshes/link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint1"
    type="revolute">
    <origin
      xyz="0 0 0.043"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="link1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link2">
    <inertial>
      <origin
        xyz="-0.022701 -8.7951E-18 0.046794"
        rpy="0 0 0" />
      <mass
        value="0.086777" />
      <inertia
        ixx="4.6229E-05"
        ixy="-1.0545E-21"
        ixz="2.1575E-06"
        iyy="7.3451E-05"
        iyz="-2.9576E-22"
        izz="3.7568E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://leader_3215_description/meshes/link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://leader_3215_description/meshes/link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint2"
    type="revolute">
    <origin
      xyz="0.02 0 0.067"
      rpy="0 0 0" />
    <parent
      link="link1" />
    <child
      link="link2" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link3">
    <inertial>
      <origin
        xyz="1.57529238804371E-17 8.63633502405381E-18 0.0395647200714184"
        rpy="0 0 0" />
      <mass
        value="0.0822794237530527" />
      <inertia
        ixx="4.49947281899052E-05"
        ixy="-1.28332076361426E-21"
        ixz="-3.58941574618153E-21"
        iyy="5.10951512378572E-05"
        iyz="-9.2668223543666E-22"
        izz="1.57046209378732E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://leader_3215_description/meshes/link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://leader_3215_description/meshes/link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint3"
    type="revolute">
    <origin
      xyz="-0.02 0 0.079"
      rpy="0 0 0" />
    <parent
      link="link2" />
    <child
      link="link3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link4">
    <inertial>
      <origin
        xyz="-0.0227007267613881 -1.93878395395224E-17 0.0467941392257271"
        rpy="0 0 0" />
      <mass
        value="0.0867766422544524" />
      <inertia
        ixx="4.62289338201927E-05"
        ixy="-1.82687208984123E-21"
        ixz="2.15748553105859E-06"
        iyy="7.34512446639601E-05"
        iyz="1.0476836128437E-21"
        izz="3.75678504698407E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://leader_3215_description/meshes/link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://leader_3215_description/meshes/link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint4"
    type="revolute">
    <origin
      xyz="0.02 0 0.067"
      rpy="0 0 0" />
    <parent
      link="link3" />
    <child
      link="link4" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link5">
    <inertial>
      <origin
        xyz="-1.23766484004277E-18 -5.10079754767734E-18 0.0395647200714185"
        rpy="0 0 0" />
      <mass
        value="0.0822794237530527" />
      <inertia
        ixx="4.49947281899051E-05"
        ixy="-1.13398189937987E-21"
        ixz="-3.50736109012887E-21"
        iyy="5.10951512378572E-05"
        iyz="3.36866701953339E-21"
        izz="1.57046209378732E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://leader_3215_description/meshes/link5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://leader_3215_description/meshes/link5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint5"
    type="revolute">
    <origin
      xyz="-0.02 0 0.079"
      rpy="0 0 0" />
    <parent
      link="link4" />
    <child
      link="link5" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link6">
    <inertial>
      <origin
        xyz="-0.0227007267613881 -9.74434113803547E-19 0.046794139225727"
        rpy="0 0 0" />
      <mass
        value="0.0867766422544524" />
      <inertia
        ixx="4.62289338201927E-05"
        ixy="-1.84847611121618E-21"
        ixz="2.15748553105859E-06"
        iyy="7.34512446639601E-05"
        iyz="1.07456460342684E-21"
        izz="3.75678504698407E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://leader_3215_description/meshes/link6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://leader_3215_description/meshes/link6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint6"
    type="revolute">
    <origin
      xyz="0.02 0 0.067"
      rpy="0 0 0" />
    <parent
      link="link5" />
    <child
      link="link6" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link7">
    <inertial>
      <origin
        xyz="1.8501E-18 -7.0102E-19 0.019038"
        rpy="0 0 0" />
      <mass
        value="0.028571" />
      <inertia
        ixx="4.5472E-06"
        ixy="-1.0216E-22"
        ixz="-1.0299E-22"
        iyy="4.5472E-06"
        iyz="-6.8028E-22"
        izz="4.1285E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://leader_3215_description/meshes/link7.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://leader_3215_description/meshes/link7.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint7"
    type="revolute">
    <origin
      xyz="-0.02 0 0.079"
      rpy="0 0 0" />
    <parent
      link="link6" />
    <child
      link="link7" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="0"
      velocity="0" />
  </joint>
</robot>